.food{
position:absolute;
height:10%;
}
#cup_misoshiru_1{
top:15%;
left:25%;
}
#cup_misoshiru_2{
top:35%;
left:70%;
}
#drink_denkyu_bottle_yellow_1{
top:50%;
left:15%;
}
#drink_denkyu_bottle_yellow_2{
top:48%;
left:83%;
}
#food_harusame_soup_1{
top:22%;
left:49%;
}
#food_harusame_soup_2{
top:75%;
left:66%;
}
#food_ozouni_shiromiso_1{
top:70%;
left:5%;
}
#food_ozouni_shiromiso_2{
top:75%;
left:88%;
}
#food_yakimanju_1{
top:38%;
left:22%;
}
#food_yakimanju_2{
top:16%;
left:68%;
}
#onigiri_tenmusu_1{
top:75%;
left:32%;
}
#onigiri_tenmusu_2{
top:23%;
left:91%;
}
#sushi_maguro_dukushi_1{
top:30%;
left:3%;
}
#sushi_maguro_dukushi_2{
top:70%;
left:46%;
}
