body{
  margin: 0px ;
  padding: 0px ;
  background-color: rgb(253,215,19) ;
}
#topic{
  position: absolute ;
  width: 40% ;
  height: 30% ;
  left: 20% ;
  top: 45% ;
  margin: auto ;
}
#topic>h1{
  position: absolute ;
  font-size: 12vh ;
  color: rgb(49,45,19) ;
  text-shadow: 0vh 0.5vh 0.3vh rgb(102,102,102) ;
  margin: 5% 15% ;
}
#topic>div{
  position: absolute ;
  width: 80% ;
  height: 2% ;
  top: 55% ;
  left: 20% ;
  background-color: rgb(49,45,19) ;
  box-shadow: 0vh 0.5vh rgb(102,102,102);
}
#topic>p{
  position: absolute ;
  top: 60% ;
  left: 25% ;
  font-size: 4vh ;
  color: white ;
  border-style: solid ;
  border-radius:0 0 3vh 3vh;
  border-color: rgb(49,45,19);
  background-color: rgb(49,45,19);
  box-shadow:0.6vh 0.3vh 0.2vh rgb(102,102,102);
  padding:0 10vh 0.5vh 10vh;
}
#home{
  position:absolute;
  left:8%;
  top:5%;
}
#about_us{
  position:absolute;
  left:31%;
  top:5%;
}
#team{
  position:absolute;
  left:54%;
  top:5%;
}
#sign_in{
  position:absolute;
  left:77%;
  top:5%;
  border-style:solid;
  border-width:0.5vh;
  border-radius:2vh;
  padding:0.5vh 1vh 0.5vh 1vh;
}
#bottom{
  position:absolute;
  width:100%;
  height:6%;
  bottom:0px;
  left:0px;
  background-color:rgb(49,45,19);
}
.food{
  position:absolute;
  height:10%;
  -webkit-filter: drop-shadow(1vh 1vh 0.5vh black);
  filter: drop-shadow(1vh 1vh 0.5vh black);
}
#cup_misoshiru_1{
  top: 30% ;
  left: 50% ;
}
#cup_misoshiru_2{
  top:80%;
  left:70%;
}
#drink_denkyu_bottle_yellow_1{
  top:15%;
  left:40%;
}
#drink_denkyu_bottle_yellow_2{
  top:70%;
  left:60%;
}
#food_harusame_soup_1{
  top:35%;
  left:50%;
}
#food_harusame_soup_2{
  top:65%;
  left:80%;
}
#food_ozouni_shiromiso_1{
  top:40%;
  left:83%;
}
#food_ozouni_shiromiso_2{
  top:85%;
  left:10%;
}
#food_yakimanju_1{
  top:15%;
  left:70%;
}
#food_yakimanju_2{
  top:53%;
  left:1%;
  -webkit-transform:rotateY(180deg);
  transform:rotateY(180deg);
}
#onigiri_tenmusu_1{
  top:13%;
  left:60%;
  -webkit-transform:rotateY(180deg);
  transform:rotateY(180deg);
}
#onigiri_tenmusu_2{
  top:70%;
  left:15%;
}
#sushi_maguro_dukushi_1{
  top:20%;
  left:7%;
}
#sushi_maguro_dukushi_2{
  top:63%;
  left:48%;
}

