body{
margin:0px;
padding:0px;
background-color:rgb(253,215,19);
}
#back{
position:relative;  
width:170vh;
height:100vh;
margin:auto;
}
#topic{
position:absolute;
width:40%;
height:30%;
left:30%;
top:35%;
margin:auto;
}
#topic>h1{
position:absolute;
font-size:8vh;
color:rgb(49,45,19);
text-shadow:0vh 0.5vh 0.3vh rgb(102,102,102);
margin:5% 15%;
}
#topic>div{
position:absolute;
width:80%;
height:2%;
top:50%;
left:10%;
background-color:rgb(49,45,19);
box-shadow:0vh 0.5vh rgb(102,102,102);
}
#topic>p{
position:absolute;
top:40%;
left:20%;
font-size:3vh;
color:white;
border-style:solid;
border-radius:0 0 3vh 3vh;
border-color:rgb(49,45,19);
background-color:rgb(49,45,19);
box-shadow:0.6vh 0.3vh 0.2vh rgb(102,102,102);
padding:0 10vh 0.5vh 10vh;
}
#home{
position:absolute;
left:38%;
top:10%;
}
#about_us{
position:absolute;
left:47%;
top:10%;
}
#team{
position:absolute;
left:58%;
top:10%;
}
#sign_in{
position:absolute;
left:90%;
top:10%;
border-style:solid;
border-width:0.5vh;
border-radius:2vh;
padding:0.5vh 1vh 0.5vh 1vh;
}
#bottom{
position:absolute;
width:100%;
height:6%;
bottom:0px;
left:0px;
background-color:rgb(49,45,19);
}
.food{
position:absolute;
height:10%;
-webkit-filter: drop-shadow(1vh 1vh 0.5vh black);
filter: drop-shadow(1vh 1vh 0.5vh black);
}
#cup_misoshiru_1{
top:15%;
left:25%;
}
#cup_misoshiru_2{
top:35%;
left:70%;
}
#drink_denkyu_bottle_yellow_1{
top:50%;
left:15%;
}
#drink_denkyu_bottle_yellow_2{
top:48%;
left:83%;
}
#food_harusame_soup_1{
top:22%;
left:49%;
}
#food_harusame_soup_2{
top:75%;
left:66%;
}
#food_ozouni_shiromiso_1{
top:70%;
left:5%;
}
#food_ozouni_shiromiso_2{
top:75%;
left:88%;
}
#food_yakimanju_1{
top:38%;
left:22%;
}
#food_yakimanju_2{
top:16%;
left:68%;
-webkit-transform:rotateY(180deg);
transform:rotateY(180deg);
}
#onigiri_tenmusu_1{
top:75%;
left:32%;
-webkit-transform:rotateY(180deg);
transform:rotateY(180deg);
}
#onigiri_tenmusu_2{
top:23%;
left:91%;
}
#sushi_maguro_dukushi_1{
top:30%;
left:3%;
}
#sushi_maguro_dukushi_2{
top:70%;
left:46%;
}
